* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Work Sans', sans-serif;
}

/* common styles */
main {
    max-width: 1140px;
    margin: 0 auto;
}

.section-title {
    font-weight: 700;
    font-size: 40px;
    color: #151414;
}

.common-btn {
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    padding: 20px 26px;
    border: 0;
    border-radius: 5px;
}

/* header section styles */

.header {
    background: url("images/banner/banner3.png");
    height: 808px;
    padding: 216px 230px;
    text-align: right;
}

.header-title {
    font-weight: 700;
    font-size: 65px;
    line-height: 76px;
    color: #FFFFFF;
}

.header-description {
    color: #fff;
    margin-top: 24px;
    margin-bottom: 32px;
    line-height: 26px;
}

/* learning items */
.learning-section {
    display: flex;
    gap: 50px;
    margin-top: -50px;
}

.learning-items {
    background: #155e99e9;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.2);
    padding: 30px;
    border-radius: 8px;
    color: #fff;
}

.learning-title {
    margin: 20px 0;
}

.learning-description {
    line-height: 28px;
    margin-bottom: 30px;
}

.learning-items img {
    width: 100px;
}

/* failure-section styles */
.failure-section {
    display: flex;
    align-items: center;
    gap: 87px;
    margin: 131px 0;
}

.failure-description {
    margin-top: 24px;
    margin-bottom: 16px;
    line-height: 26px;
    color: #444343;
}

.failure-message div {
    display: flex;
    align-items: center;
    gap: 10px;
}

.failure-message img {
    width: 24px;
}

.failure-message p {
    color: #444343;
}


/* my-Plans-section styles */

.my-Plans-section {
    text-align: center;
}

.plane-items {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
    margin-bottom: 130px
}

.plane-item h3 {
    margin-top: 16px;
    margin-bottom: 10px;
    font-weight: 700;
    font-size: 30px;
    color: #151414;
}

.plane-item p {
    font-weight: 500;
    font-size: 25px;
    color: #737272;
}

/* watch image section */

.watch-img {
    background: linear-gradient(90deg, #005FAC 0%, rgba(0, 95, 172, 0) 100%), url("images/watch.png");
    height: 300px;
    border-radius: 8px;
    margin-bottom: 130px;
    padding: 60px 64px;
}

.watch-title {
    font-weight: 700;
    font-size: 40px;
    color: #FFFFFF;
}

.watch-btn {
    width: 160px;
    height: 64px;
    background: #FFFFFF;
    border-radius: 5px;
    border: 0;
    font-weight: 600;
    font-size: 20px;
    color: #005FAC;
    margin-top: 24px;
}


/* footer section styles */

.footer {
    height: 577px;
    background: #151414;
    display: flex;
    color: #fff;
    padding: 130px 230px;
    gap: 331px;
}

.left-item {
    font-weight: 700;
    font-size: 45px;
    margin-bottom: 16px;
}

.left-description {
    margin-bottom: 24px;
}

.image-gap {
    margin: 0 18px;
}

.input-gap {
    margin-top: 31px;
    margin-bottom: 16px;
    width: 325px;
    height: 64px;
    border: 1px solid #FFFFFF;
    padding: 21px;
    font-size: 18px;
    color: #F3F3F3;
    background: #151414;
    border-radius: 8px;
}

.input-btn {
    width: 170px;
    height: 64px;
    background: #005FAC;
    border-radius: 8px;
    border: none;
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
}